$color-gris-01: #1a1a1a;
$color-gris-02: #242424;
$color-gris-03: #969696;
$color-gris-04: #e1e1e1;

$color-negro: #000000;
$color-blanco: #ffffff;

$color-celeste-01: #42b8e1;

$color-verde-agua-01: #42b883;
