@import "./Colores.scss";

.container-up-button {
  position: fixed;
  z-index: 999;
  width: 5rem;
  height: 5rem;
  bottom: 2rem;
  right: 2rem;
  background-color: $color-celeste-01;
  color: $color-gris-04;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 0 25px 2px darken($color-gris-01, 25%);
  transition: background-color ease 0.3s, color ease 0.3s;
  &:hover {
    background-color: $color-gris-04;
    color: $color-celeste-01;
  }
}
